body {
  background-image: url('./img/fondo.jpg');
  font-family: 'Segoe UI', sans-serif;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.image-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

img {
  max-width: 20%;
}

.dish-name,
.dish-price,
.dish-icon {
  display: inline-block;
}
.dish-description {
  font-size: small;
  margin-top: 5px;
}
.dish-calorias {
  font-size: small;
  margin-top: 5px;
}
.dish-description {
  font-size: 12px;
  margin-top: 5px;
  color: #666;
}

.menu-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  margin-bottom: 3rem;
  width: 48%;
}

.category-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.dish {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.dish-name {
  flex-grow: 1;
  font-weight: bold;
}

.dish-price {
  font-weight: bold;
  margin-left: 1rem;
}

.icon {
  position: absolute;
  bottom: -40.5rem;
  right: 25.5rem;
  font-size: 1.2rem;
  border-radius: 3%;
  border: 2px solid #000;
  padding: 0.2rem;
  width: 15.5rem;
  height: 5.5rem;
  text-align: center;
  line-height: 1.5rem;
}
@media screen and (max-width: 700px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  img {
    max-width: 50%;
  }
  .category {
    margin-bottom: 1rem;
    width: 100%;
  }
  .icon {
    position: static;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 0%;
    border: 2px solid #000;
    padding: 0.5rem;
    width: auto;
    height: auto;
  } 
}
